{% extends "base.html" %} {% block title %} About {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/main-style.css" type="text/css">
<div class="home">
  <h1>The Code Talkers</h1>
  <h2>"Eat, Sleep, Code, Repeat.</h2>
  <div class="members">
    <div class="member">
      <a href="/about/gavin/"><img src="/static/images/placeholder.png" alt="Gavin" title="Gavin"></a>
      <h3>Gavin</h3>
    </div>
    <div class="member">
      <a href="/about/jocelyn/"><img src="/static/images/jocelyn-bio-picture.jpg" alt="Jocelyn" title="Jocelyn"></a>
      <h3>Jocelyn</h3>
    </div>
    <div class="member">
      <a href="/about/swapnil/"><img src="/static/images/swapnil-pic.jpg" alt="Swapnil" title="Swapnil"></a>
      <h3>Swapnil</h3>
    </div>
    <div class="member">
      <a href="/about/thomas/"><img src="/static/images/placeholder.png" alt="Thomas" title="Thomas"></a>
      <h3>Thomas</h3>
    </div>
  </div>
</div>
{% endblock %}
