{% extends "base.html" %} {% block title %} About Swapnil {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/bio-styles.css" type="text/css">
<div class="about-section">
  <div class="about-grid">
    <div class="back-btn col-span-3"><a href="../">BACK</a></div>
    <div class="image row-span-3"><img class="profile" src="/static/images/bush.jpg" alt="Swapnil Puri" title="Swapnil Puri"></div>
    <div class="text col-span-2">
      Hello! I'm Swapnil Puri, a computer science student at St. Edward's University. I have a passion for frontend development, particularly in designing visually engaging websites and implementing dynamic effects. I’ve worked with various libraries like Three.js and GSAP to create unique and interactive web experiences. Through this project, I aim to deepen my understanding of full-stack development and gain a stronger grasp of industry best practices, such as naming conventions, file organization standards, and specific software tools. I'm excited to collaborate on a web-related project and look forward to further honing my skills.
    </div>
    <div class="image"><img src="https://upload.wikimedia.org/wikipedia/commons/1/11/Yu-Gi-Oh%21_%28Logo%29.jpg" alt="Yugioh Logo" title="Yugioh Logo"></div>
    <div class="image"><img src="/static/images/ableton.jpg" alt="Ableton" title="Ableton"></div>
    <div class="text">
      Since childhood, I have enjoyed playing the Yu-Gi-Oh! trading card game. My passion for the game began after watching the anime. I especially love playing with the Mermail-Atlantean and Evil Eye decks.
    </div>
    <div class="text">
      I have always had a deep connection to music, which sparked my passion for producing tracks using Ableton. This interest in music began at a young age when I learned to play several instruments, including the piano and cello.
    </div>
  </div>
</div>
{% endblock %}
