{% extends "base.html" %} {% block title %} Staff Dashboard {% endblock %}
{% load static %}

{% block content %}

<h1>Staff Dashboard</h1>

<h2>Unclaimed Orders</h2>
<table style="">
    <tr>
        <th>Order #</th>
        <th>Order</th>
        <th>Date</th>
        <th>Claim</th>
    </tr>
{% for order in orders %}
    <tr>
        <td>{{ order.number }}
        <td>Item 1, Item 2, Item 3, ...</td>
        <td>{{ order.date}}</td>
        <td><button>Claim Order</button></td>
    </tr>

    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }

    </style>
{% endfor %}
</table>
{% endblock %}<td></td>