{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "styles/website-theme.css" %}' type="text/css">
<link rel="stylesheet" href='{% static "styles/catalog.css" %}' type="text/css">
<link rel="stylesheet" href='{% static "styles/login-registration.css" %}' type="text/css">

<section class="container my-3 py-3">
    <h1 class="page-title mb-3 w-75 mx-auto rounded">Register</h1>
    <form action="{% url 'register' %}" method="POST" class="login-form">
      {% csrf_token %}
      <div class="login-container">
        {{ form.as_p }}
        <button type="submit" class="btn custom-button form-control submit-btn">Submit</button>
      </div>
    </form>
</section>
{% endblock %}
