{% extends "base.html" %} {% block title %} Purple Bubble {% endblock %}
{% load static %}

{% block content %}

  <!-- Hero -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container text-center">
      <h1 class="main-hero-heading display-4">Unleash Your Creativity</h1>
      <p class="lead">Create personalized items that reflect your style</p>
      <!-- NEW LINK -->
      <a href="" class="btn btn-lg custom-button">Shop Now</a>
    </div>
  </section>

  <!-- Featured Product (REPLACE WITH DATABASE ITEM) -->
  <section id="featured-product" class="featured-product">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="" alt="" class="img-fluid featured-img rounded">
        </div>
        <div class="featured-text col-md-6 text-center text-md-left">
          <h1 class="featured-product-heading">Featured Product</h1>
          <h2 class="product-name">Fish Pillow</h2>
          <p class="product-cost">$29.99</p>
          <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo justo, vestibulum vitae tempus et,
            maximus quis est. Morbi porttitor lorem nulla, ut auctor mi sodales id.
          </p>
          <!-- NEW LINK -->
          <a href="" class="btn btn-lg custom-button">View Product</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Item Selection -->
  <section id="items" class="section">
    <div class="container">
      <h2 class="text-center mb-4">Shop Product Range</h2>
      <div class="row">
        <!-- Shirt -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Shirts">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Shirts</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Sticker -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Stickers">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Stickers</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Mug -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Mugs">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Mugs</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Cards">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Cards</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Phone Case -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Phone Cases">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Phone Cases</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pillows -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Pillows">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Pillows</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Journal -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Journals">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Journals</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Backpack -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Backpacks">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Backpacks</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Poster -->
        <div class="col-md-4">
          <div class="card">
            <!-- NEW IMAGE SRC -->
            <img src="" class="card-img" alt="Posters">
            <div class="card-img-overlay d-flex flex-row justify-content-end align-items-end">
              <div class="card-body text-center">
                <!-- NEW LINK -->
                <a href="" class="btn btn-lg custom-button">Shop Posters</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="about">
    <div class="container">
      <!-- About Content -->
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <div class="card">
            <div class="card-body">
              <h2 class="section-heading">About PurpleBubble</h2>
              <p class="about-text">
                Welcome to PurpleBubble, where creativity meets quality. We are passionate about providing high-quality,
                customizable products that reflect your unique style. Whether you're looking for a custom t-shirt, mug,
                or sticker, we offer a wide range of products that allow you to express yourself in the best way
                possible. We also...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Services Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <i class="fa-solid fa-hand-holding-heart"></i>
              <div class="card-text">
                <h5 class="card-title">Donate to Charities</h5>
                <p class="card-text">10% of all profits are donated to charitable organizations.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <i class="fa-solid fa-thumbs-up"></i>
              <div class="card-text">
                <h5 class="card-title">Compensate Artists</h5>
                <p class="card-text">Money goes straight into the hands of the creator.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <i class="fa-solid fa-leaf"></i>
              <div class="card-text">
                <h5 class="card-title">Produce Responsibly</h5>
                <p class="card-text">We're investing in programs to offset all carbon emissions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}