body {
  font-family: var(--base-font);
  background-image: linear-gradient(var(--accent-dark-clr), var(--secondary-bkg-clr) 80%);
  background-size: cover;
  background-attachment: fixed; 
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 20px;
  text-align: center;
  border: none;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--accent-highlight-clr);
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
}

.card {
  border: 4px solid var(--accent-clr);
}

.btn.custom-button.mini {
  font-size: 14px;
  font-weight: 400;
}

.sidebar {
  padding: 10px;
  color: var(--secondary-font-clr);
  background-color: var(--accent-dark-clr);
  border: 4px solid var(--accent-clr);
}

.sidebar label {
  font-weight: 500;
}

.page-title {
  color: var(--accent-highlight-clr);
  border: 4px solid var(--accent-clr);
  text-align: center;
  background-color: var(--accent-dark-clr);
  font-weight: 700;
  padding: 10px 0px;
}

.sidebar select, .sidebar input {
  background-color: var(--accent-clr) !important;
  color: var(--secondary-font-clr) !important;
  border: none !important;
}

.sidebar::placeholder {
  color: var(--secondary-font-clr) !important;
  opacity: 1 !important;
}